<div class="col-xs-12 col-md-4">
  <h2><%= @city.real_name %></h2>

  <br />

  <table class="table table-condensed">
    <thead>
      <tr>
        <td class="text-center" colspan="2"><strong>Démographie</strong></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Superficie</td>
        <td><%= number_with_precision(@city.params[:area], delimiter: ' ', precision: 2, strip_insignificant_zeros: true) %>&nbsp;km<sup>2</sup></td>
      </tr>
      <tr>
        <td>Population (2010)</td>
        <td><%= number_with_precision(@city.params[:pop_2010], delimiter: ' ', precision: 0, strip_insignificant_zeros: true) %>&nbsp;hab</td>
      </tr>
      <tr>
        <td>Densité (2010)</td>
        <td><%= number_with_precision(@city.params[:density_2010], delimiter: ' ', precision: 2, strip_insignificant_zeros: true) %>&nbsp;hab/km<sup>2</sup></td>
      </tr>
      </tbody>
  </table>

  <br />

  <% if @city.zipcodes.size == 1 %>
    <div>Code postal : <%= @city.zipcodes[0] %></div>
  <% else %>
    <div>
      Codes postaux :
      <ul>
        <% @city.zipcodes.each do |zip| %>
          <li><%= zip %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="col-xs-12 col-md-8">
  <iframe width="100%" height="600px" frameborder="0" style="position: relative; border: 0; width: 100%; height: 50vh;" src="https://www.google.com/maps/embed/v1/view?center=<%= @city.params[:lat_deg] %>%2C<%= @city.params[:long_deg] %>&zoom=13&key=AIzaSyAzvgVkGFZNr19zI1nsYo0teQqcgBAIfoU" allowfullscreen></iframe>
</div>
